#portfolio .carousel-inner .item img{
	margin-right: auto;
	margin-left: auto;
}

#portfolio .carousel-indicators {
		text-shadow: #000 1px 1px 0px;

}

#portfolio .carousel-inner {
		padding-bottom: 20px;
	overflow: visible;
}

#portfolio .carousel-caption {
	 color:#fff;
	text-shadow: #000 1px 1px 0px;
	top: 70%;
	display: block;
}