.portfolio{
    text-align: left;
}
.portfolio .page-header{
    margin-top: 0;
    position: fixed;
    top: 0;
    padding-top: 20px;
    padding-left: 20px;
    width: 100%;
    z-index:100;
    background-color: rgba(255,255,255,0.80);
}
.portfolio h1, .portfolio .caption{
    color: rgba(100,100,100,1);
}
.portfolio h1 small{
    color: rgba(100,100,100,1);
}
.portfolioEdit *, .portfolioList *{
    width: 100%;
}

.sideleft{
    position: fixed;
    float: left;
    overflow: visible;
    height: 100%;
    z-index: 100;
    
}
.sideleft ul{
    margin: 0;
    padding: 0
}
.category{
    max-height: 60px;
    overflow: hidden;
    margin-bottom:  60px;
    margin-top: 60px;
    margin-left: 5vw;
    position: relative;
    border: 2px solid rgba(0,0,0,0.2);
    -webkit-filter: grayscale(100%);
}

.sideleft li.category{
    max-width: 200px;
    -webkit-clip-path: polygon(0% 0%,60px 0%,60px 60px,0% 60px);
    -webkit-transition: -webkit-clip-path 0.5s ease;
}
.sideleft li.category img{

        z-index: 50;
    
}
.sideleft li.category:hover{    
    -webkit-clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 100%);

}
.sideleft li.category:hover img{
}
.category span{
        z-index: 55;
    position: absolute;
    top: 30%;
    left: 5px;
    color: #eee;
    text-shadow: 1px 1px 1px #000;
    font-size: 18px;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
}
.category:hover span{
    opacity: 1;
    
}

.category img{
    width: 800px;
}


.portfolio-container{
    width: 100%;
    margin-top: 30px;
    
}
.portfolio-content{
    z-index: 10;
    float: right;
    width:  80vw;
    overflow: hidden;
    margin-right: 50px;
    -webkit-transition: opacity 0.5s ease;
}

.portfolio-content li{
    overflow: hidden;
    list-style:none;
    margin: 20px;
    width: 100px;
    height: 100px;
    border: 2px solid rgba(0,0,0,0.2);
    -webkit-filter: grayscale();
    -webkit-transition: -webkit-filter 0.5s ease;
    float: left;
}
.portfolio-content ul{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.portfolio-content li:hover, .portfolio-content li.selected{
    -webkit-filter: grayscale(0%);
}
.portfolio-entry img{
    width: 150px;
}
.portfolio-page {
    opacity: 0;
    height: 100vh;
    -webkit-transition: opacity 0.5s ease;
}
.portfolio-page .main{
    width: 100%;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity 0.5s ease;
    border: 2px solid rgba(0,0,0,0.2);
}
.portfolio-page .otherImageHolder{
    width: 80px;
    height: 80px;
    border: 2px solid rgba(0,0,0,0.2);
    overflow: hidden;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    float: left;
}
.portfolio-page .otherImage{
    width: 120px;
}
.portfolio-page .page-center{
    position: relative;
    width: 60%;
    float: left;
}
.portfolio-page .page-right{
    width: 35%;
    float: right;   
}
.portfolio-page .tagline{
    clear: left;
    font-weight: 600;
    font-size: 18px;
}
.portfolio-page .description{
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
}






/*
 * File
 */

 .file {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 2.5rem;
}

.file input {
    min-width: 14rem;
    margin: 0;
    filter: alpha(opacity=0);
    opacity: 0;
}

.file-custom {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: 2.5rem;
    padding: .5rem 1rem;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: .075rem solid #ddd;
    border-radius: .25rem;
    box-shadow: inset 0 .2rem .4rem rgba(0, 0, 0, .05);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.file-custom:after {
    content: "Choose file...";
}

.file-custom:before {
    position: absolute;
    top: -.075rem;
    right: -.075rem;
    bottom: -.075rem;
    z-index: 6;
    display: block;
    content: "Browse";
    height: 2.5rem;
    padding: .5rem 1rem;
    line-height: 1.5;
    color: #555;
    background-color: #eee;
    border: .075rem solid #ddd;
    border-radius: 0 .25rem .25rem 0;
}

/* Focus */
.file input:focus ~ .file-custom {
    box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
}

